.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 100%;
}

.loadingBar {
  width: 100%;
  background-color: #e0e0e0;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: red;
  width: 0%;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.loadingText {
  margin-top: 10px;
  font-size: 24px;
  text-align: center;
}
